<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
	  <% if current_user == @ufc167 %>
        <%=  link_to "ufc 167 picks", show_path %> 
		 <% end %>
      </section>
	  
      <section>
       
      </section>
    </aside>
    <section>
        <%= render(:partial => 'ufc_preview') unless Prediction.blank? %>
		 
		
        
		</section>
	

	
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to MMA Predictor</h1>

    <h2>
      To start predicting the outcome of fights and how they'll finish, off the next upcoming card, sign up now!
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  
<% end %>