<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>UFC</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody> 
  <% @leaders.each do |leader| %>
    <tr>
      <td><%= leader.user_id %></td>
        <td><%= leader.ufc %></td>
		<td><%= leader.points %></td>
     </tr>
  
   <% end %>
</tbody>
</table>